.header {
    display: flex;
    justify-content:space-between;
    background-color: rgb(196, 179, 219);
}

body {
    margin: 0px;
}

#logo {
    width: 100px;
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.title1 {
    display: flex;
    font-style: italic;
    font-weight: 700;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    color: #c4b5e9;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    width: auto;
}

.txts   {
    flex: 1;
    font-size: 50px;
    text-align: center;
    height: 5%;
    margin: 0% 2% 0% 2%;
    border: none;
}

#wedo-area {
    display: flex;
    border-radius: 1%;
    background-position: top;
    background-size: 20px;

    background: linear-gradient(rgba(196,179,219,0.30) 50%, rgba(255,255,255,0) 100%);
}
.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin-right: 50px;
}

.list li {
    margin: 10px;
}

.sect2 {
    background-image: url(peakpx.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    display:flex;
    width: auto;
    margin: none;


}

.opiniones {
    width: 50%;
    min-width: 50%;
}

#opiniones-area {
    display: flex;
    justify-items: center;
}

.text1 {
    width: 50%;
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
    font-size-adjust: inherit;
    color: #ffffff;
    text-indent: 5px;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    font-family: 'Kanit', sans-serif;
}

.txt-do {
    text-align: center;
    margin-top: 1%;
    padding-bottom: 20px;

}
/* EMPIEZA SECTOR DE OPINIONES*/

.review {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-width: 50%;
    border-left: 2px solid rgba(178, 130, 211, 0.192);
}

#div-review-img {
    display:flex;
    flex-direction: column;
}

.review-img {
    border-radius: 20px;
    border-style: ridge;
    border-color: darkgray;
    margin: 20px 10px 50px 5px;
}

#div-review-txt {
    display: flex;
    flex-direction: column;
}

.review-txt {
    width: inherit;
    margin: 20px 10px 50px 5px;
    font-weight: 100;
    font-size: 17px;
    font-family: 'Kanit', sans-serif;
    text-shadow: 1px 1px 1px black;
    color: rgb(197, 214, 240);
    height: 106px;
}
/* TERMINA SECTOR DE OPINIONES*/

/*Empieza sector de showcase */
.showcase {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    min-width: 50%;
    min-height: 200px;
}

.img-shw-cont {
    margin: 35% 5% 5% 5%;


}

#comp-photo1 {
    border: #000000;
    border-radius: 6%;
    border-style: double;
    border-width: 3px;
    scale: 150%;
}

.text-shw-cont {
    font-style: normal;
    color: #e3dfee;
    font-family: 'Kanit', sans-serif;
    margin: 0px 50px 5px 50px;
    border-radius: 15px;
    padding: none;
    text-shadow: 2px 2px 1px #000000 ;
    text-align: center;
    background: #15131ade;

}

.circles {
    display: flex;
    border: #e6e6e6a1;
    border-style: groove;
    border-width: 2px;
    border-radius: 5%;
    margin-bottom: 10%;
    background-color: #55475369;
}

.circles-grph {

    width: 50px;
}

/*Termina sector de showcase */

/* Empezando sector 3 fotos */

.services {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 200px;
    height: 1000px;
    background-image: linear-gradient(180deg, rgb(9, 55, 63), rgb(39, 16, 143), rgb(0, 0, 0));
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}

.nxt, .prev {
    border: none;
    position: absolute;
    top: 50%;
    background-color: #ffffff00;
    z-index: 9;

}

.nxt img, .prev img {
}

.nxt:hover img, .prev:hover img {
    scale: 1.5;
    transition: 0.3s;
    border: #cac7cf;
    border-radius: 10px;
    border-style: solid;
}

.prev {
    right: 0;
    margin-right: 50px;

}

.nxt {
    left: 0;
    margin-left: 50px;

}
.serv-block {
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    border:rgba(8, 112, 172, 0.301) solid 5px;
    margin: 50px 50px 0px 50px;
}

.serv-img {

}

.serv-text-block {
    display: flex;
    justify-content: center;
    
}

#serv-text-desc {

    font-family: 'Kanit', sans-serif;
    font-style: italic;
    font-weight: 100;
    color: #FFFFD2;
    text-align: center;
    background-color: #584f4f34;
    min-width: 400px;
    max-width: 750px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 15px;
}


/* Terminando sector 3 fotos*/

/* Empezando suscription sector */

.subs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 1000px;
    background-image: url(services.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.subs-fees  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subs-journal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 250px 100px 100px 100px;
    border: 5px dotted gray;
}